@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
 */
* {
	box-sizing: border-box;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer components {
	.btn {
		@apply text-center w-full p-1.5 md:p-3 mt-3 bg-neutral-200 text-neutral-950 font-bold md:text-lg hover:bg-green-500 transition disabled:bg-neutral-400 disabled:text-neutral-100;
	}
	.container-basic {
		@apply flex flex-col min-h-screen px-3 md:px-5 pt-6;
	}
	.grid-item {
		@apply grid grid-cols-[80px_1fr] md:grid-cols-[126px_1fr] gap-5;
	}
}
